 <p>
   {{#each comments as |comment|}}
    <a href="/comment/{{post_id}}/{{id}}">{{info}}</a> by {{user.name}}
            {{Comment_info}}
            
        {{/each}}
  </p>

<script src="/js/comments.js"></script>