
  <body>
    <div class="mt-4">
      <div>
        <h3 class="border border-success">title</h3>
        <p class="border border-danger">body</p>
      </div>

      <nav class="navbar navbar-light border-primary">
        <a class="navbar-brand">Comments</a>
        <div class="dropdown">
        <a
          class="btn btn-sm btn-secondary dropdown-toggle"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          Categories
        </a>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Accommodations</a>
          <a class="dropdown-item" href="#">Food/Drink</a>
          <a class="dropdown-item" href="#">Entertainment</a>
        </div>
      </nav>
      
    </div>

      <div class="border border-primary">
        Comment text here</div>
        <button
          id="createCommentBtn"
          class="btn btn-sm btn-primary"
          data-id="id"
        >
          Create Comment
        </button>
      
    </div>
  </body>


<div class="mt-4">
  <div>
    <h3>{{title}}</h3>
    <p>{{body}}</p>
    </div>
    <h4>Comments:</h4>
    {{#each comments as |comment| }}
      <!-- TODO: Show user and createdAt; need to update the query in Route to get Username -->
      <p>
       <a href="/comment/{{post_id}}/{{id}}">{{body}}</a> by {{user.name}}
      </p>
    {{/each}}
    {{#if logged_in}}
    <button
          id="createCommentBtn"
          class="btn btn-primary"
          data-id="{{id}}"
        >Create Comment</button>
    {{/if}}
</div>

<script src="/js/comments.js"></script>v>