<div class="container">
  <div class="row">
    <div class="col-sm-2 col-sm border border-primary">Sidebar</div>

    <div class="col-sm-10 col-sm border border-danger">
      <div class="row">
        <div class="col-sm border border-success">Calendar</div>
        <div class="col-sm">
          <div class="border border-info">Notes</div>

          <div class="border border-primary">Photos</div>
          {{! Cloudinary }}
        </div>
      </div>
      <div class="col col-sm border border-danger"> {{post.description}} </div>

      <div class="col col-sm border border-success"> </div>
      <div>
        {{! add location }}
        {{post.location}}
        {{post.user.name}}
        {{!-- {{comment.info}} --}}

        <div class="input-group">
          <textarea
          class="form-input"
          id="comment.info"
          name="comment.info"
        ></textarea>
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              aria-expanded="false"
            id="saveBtn"
          type="submit"
          class="btn btn-primary"
          data-id="{{post_id}}">Tags</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Accommodations</a>
              <a class="dropdown-item" href="#">Food/Drink</a>
              <a class="dropdown-item" href="#">Entertainment</a>
              <a class="dropdown-item" href="#">Transportation</a>
            </div>
          </div>
        </div>

      </div>

    {{!-- {{#if logged_in}} --}}
    <button
          id="createCommentBtn"
          class="btn btn-sm btn-primary"
          data-id="{{id}}"
        >Create Comment</button>
    {{!-- {{/if}} --}}
      </div>

 {{#each post.comments as |comment|}}
       <p>
  
    {{!-- <a href="/comment/{{post_id}}/{{id}}">{{info}}</a> by {{comment.user.name}}
            {{comment.info}} --}}
        {{comment.user.name}}    
        {{comment.info}}
  </p>
{{/each}}
      {{!-- {{#if logged_in}} --}}
      <button
        id="createCommentBtn"
        class="btn btn-sm btn-primary"
        data-id="{{id}}"
      >Comment</button>
      {{!-- {{/if}} --}}
    </div>
  </div>
</div>

<script src="/js/comments.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/cloudinary.js"></script>